@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1737975384159') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiqun:before {
  content: "\e625";
}

.icon-rongqi:before {
  content: "\e626";
}

.icon-shezhi:before {
  content: "\e627";
}

.icon-yingyong:before {
  content: "\e628";
}

.icon-zhuji:before {
  content: "\e629";
}

.icon-xuniji:before {
  content: "\e62a";
}

.icon-yuandian:before {
  content: "\e62b";
}

.icon-ico_Mysgl:before {
  content: "\e67a";
}

.icon-ico_people:before {
  content: "\e67b";
}

.icon-ico_product:before {
  content: "\e67c";
}

.icon-ico_add:before {
  content: "\e67d";
}

.icon-ico_monitoring:before {
  content: "\e67e";
}

.icon-ico_phone:before {
  content: "\e67f";
}

.icon-ico_Email:before {
  content: "\e680";
}

.icon-ico_contact:before {
  content: "\e681";
}

.icon-ico_efficient:before {
  content: "\e682";
}

.icon-ico_tool06:before {
  content: "\e683";
}

.icon-ico_tool05:before {
  content: "\e684";
}

.icon-ico_tool03:before {
  content: "\e685";
}

.icon-ico_tool04:before {
  content: "\e686";
}

.icon-ico_tool02:before {
  content: "\e687";
}

.icon-ico_tool01:before {
  content: "\e688";
}

.icon-rongduanqi:before {
  content: "\e689";
}

.icon-peizhifuwu:before {
  content: "\e68a";
}

.icon-lianlugenzong:before {
  content: "\e68b";
}

.icon-fuwuzhuce:before {
  content: "\e68c";
}

.icon-wangguan:before {
  content: "\e68d";
}

.icon-ico_money_market:before {
  content: "\e68e";
}

.icon-ico_nr:before {
  content: "\e68f";
}

.icon-ico_trade_finance:before {
  content: "\e690";
}

.icon-ico_loan_management:before {
  content: "\e691";
}

.icon-ico_limit_management:before {
  content: "\e692";
}

.icon-ico_funds_transfer:before {
  content: "\e693";
}

.icon-ico_e_advice:before {
  content: "\e694";
}

.icon-ico_forex_deal:before {
  content: "\e695";
}

.icon-ico_daily_check:before {
  content: "\e696";
}

.icon-ico_deposit_management:before {
  content: "\e697";
}

.icon-ico_ttms:before {
  content: "\e698";
}

.icon-ico_bulk_accounting:before {
  content: "\e699";
}

.icon-ico_report_market:before {
  content: "\e69a";
}

.icon-ico_company_search:before {
  content: "\e69b";
}

.icon-ico_automatic_charging:before {
  content: "\e69c";
}

.icon-ico_oms_pro:before {
  content: "\e69d";
}

.icon-ico_real_estate_management:before {
  content: "\e69e";
}

